{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{#    <link rel="stylesheet" type="text/css" href={% static 'resource/css/bootstrap.min.css' %}/>#}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard_users/fa.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard_users/app.css' %}"/>
    <title>Hello, world!</title>
  </head>
  <body class="dreams-for-change">

    <div class="row">
      <div class="col-md-2 nav-left">
        <div class="container">
          <div class="nav-head">
            <a class="btn btn-link" href="#">
              <div class="avatar-img">
{#                <img class="avatar" src="resource/images/avatar.jpg" />#}
              </div>
              <div>
                Username
              </div>
            </a>
          </div>
          <div class="col-sm-12 menu-left mt-3"><i class="fas fa-book-reader"></i> Overview</div>
          <div class="col-sm-12 menu-left mt-3"><i class="fas fa-calendar-alt"></i> Events</div>
          <div class="col-sm-12 menu-left mt-3"><i class="fas fa-user-alt"></i> Students</div>
        </div>
      </div>
      <div class="col-md-10 pl-0">
        <nav class="navbar navbar-light bg-blue justify-content-end nav-top">
            <a class="btn btn-link" href="#">Sign Out</a>
        </nav>
        <div class="container-fluid dash-body">
          <div class="row">
            <div class="col-md-8">
              <div class="card m-4">
                  <div class="card-body">
                      <h5 class="card-title">Upcoming Events</h5>
                      <div class= "card-text"> Hello hello hello hello</div>
                  </div>
              </div>
              <div class="card m-4 bg-danger text-white">
                <div class="card-body">
                  <div class="card-text">1 warning.</div>
                </div>
              </div>
              <div class="card m-4">
                  <div class="card-body">
                    <h5 class="card-title">Admin Notice</h5>
                    <div class= "card-text">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="container mt-4">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="my-calendar"></div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'dashboard_users/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'dashboard_users/popper.min.js' %}"></script>
    <script src="{% static 'dashboard_users/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard_users/calander.js' %}"></script>
  </body>
</html>